nav
    .container
        .row
            .col-6.col-md-3
                a(href='index.html' title='').link-logo
                    include ../svgs/logo.svg

            //.col-6.nav-mobile
            //    .nav-icon#menu-trigger
            //        span
            //        span
            //        span
            //        span

            .col-6.col-md-9
                img(src='img/fundament.png').header-logo