@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  padding-bottom 76px
  padding-top 115px
  +mobile()
    padding-top: 75px;
    padding-bottom 50px

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

.content
  position relative
  z-index 40

.spacer-69
  width 100%
  height 69px

.spacer-287
  width 100%
  height 287px
  +mobile()
    display none

.spacer-331
  width 100%
  height 331px
  +portrait()
    display none
  +mobile()
    display none

.back-yellow
  background $yellow


.back-purple
  background $purple

.back-green
  background $green


.section-personification
  background $yellow
  min-height 633px
  +portrait()
    min-height: 589px;

.section-human
  position relative
  padding-top 0
  margin-bottom 687px
  +portrait()
    margin-bottom 0
    padding-bottom 0
  +mobile()
    margin-bottom 0
  &:after
    pseudo(block, absolute)
    top 0
    left 0
    right 0
    height 848px
    background $yellow
    +mobile()
      display none
  .back-purple
    position relative
    padding-top 211px
    padding-bottom 403px
    +portrait()
      padding-bottom 211px
    +mobile()
      padding-top: 75px;
      padding-bottom 50px
    &:after
      pseudo(block, absolute)
      background $purple
      top 0
      right 0
      width 100vw
      bottom 0
      z-index 1
      +mobile()
        left -15px
        right -15px
      +landscape()
        left -30px
    p
      color $white
      max-width 360px
    h2
      max-width 660px
      +tablet()
        max-width 550px

.section-friend
  padding-bottom 0
  p
    margin-bottom 4.563rem
  .back-green
    padding-top 71px
    padding-bottom 272px
    +mobile()
      padding-bottom 75px
    ul
      li
        margin-bottom 24px
        font-weight: 500;
        line-height: 1.5;
        color $white

.section-adaptation
  padding-bottom 0
  position relative
  &:after
    pseudo(block, absolute)
    left 0
    right 0
    bottom 0
    background $white
    height 291px
    +mobile()
      height 500px
  .back-purple
    padding-bottom 199px
    +portrait()
      padding-bottom 99px
    &:after
      pseudo(block,absolute)
      width 100vw
      left -83px
      top -400px
      bottom 0
      background $purple
      z-index 1
      +portrait()
        top -300px
      +mobile()
        left -15px
        right -15px
        width auto
    .content
      p
        color $white
        margin-left 35.3%
        padding-top 4px
        +mobile()
          margin-left 0

.section-example
  padding-top 173px
  padding-bottom: 88px
  +portrait()
    padding-top 73px
  +mobile()
    padding-top 0

.section-style
  background $yellow
  padding-top: 442px;
  padding-bottom: 44px;
  margin-bottom 662px
  +portrait()
    padding-top 115px
    margin-bottom 442px
  +mobile()
    padding-top 75px
    margin-bottom: 400px;
  +landscape()
    margin-bottom 700px

.section-example-filter
  padding-top 106px
  +mobile()
    padding-top 75px

.section-building
  background $green
  margin-top 129px
  padding-top: 91px
  padding-bottom: 177px
  +tablet()
    padding-bottom: 41px;
  +portrait()
    padding-bottom: 41px;
  p
    font-size: $s18
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 1.1px;
    color $white


//

.section-complex
  padding-bottom 97px
  padding-top 125px
  p
    margin-left: 25.5%;
    margin-bottom: 24px;
    +mobile()
      margin-left 0

.section-customer
  padding-top 0
  background $yellow
  position relative
  padding-bottom 0
  &:before
    pseudo(block, absolute)
    top 0
    left 0
    right 0
    background $white
    height 176px
  &:after
    pseudo(block, absolute)
    bottom 0
    left 0
    right 0
    background $white
    height: 498px;
    z-index 1
    +mobile()
      height: 286px;
  .back-purple
    padding 69px 195px 61px 94px
    margin-bottom 165px
    background $yellow2
    +mobile()
      padding-left 30px
      padding-right 30px
      position: relative;
      z-index: 10;
    h2.h2-small
      max-width 100%
      margin-bottom: 68px;
      color $white
    p
      color $black
      margin-bottom: 24px;


.section-factor
  padding-top: 82px;
  padding-bottom 0

  .back-purple
    margin-top: 14px;
    background $purple2
.section-conclusion
  padding-top 24px
  background $purple2
  padding-bottom 47px
  position relative
  p
    color $green3
  h2
    color $green3
    margin-bottom 89px