@import '../../utilities/vars'
@import '../../utilities/mixins'

.illus1-1
  position absolute
  left 15px
  top -30px
  z-index 20
  +portrait()
    max-width 450px
    left -15px
  +mobile()
    max-width calc(100vw - 30px)
    top: 170px;
  +landscape()
    max-width 400px

.image-section1-2
  position absolute
  z-index 200
  top 441px
  right 15px
  +tablet()
    right: -140px;
  +portrait()
    position relative
    top -250px
    right 0
    img
      width 100%
  +mobile()
    position relative
    top -50px
    right 0
    img
      width 150%
      position relative
      left -32.5%

.illus1-3
  position absolute
  left: -278px
  top -325px
  z-index 20
  +portrait()
    top -175px
  +mobile()
    position static
    width 100%

.illus1-4
  margin 0 auto
  display block
  position relative
  top -152px
  z-index 20
  +portrait()
    top -52px
  +mobile()
    top 0

.illus1-5
  position absolute
  top 186px
  left 15px
  z-index 30
  +tablet()
    left: -32px;
  +portrait()
    width: 62vw;
    left: -24px;
  +mobile()
    position relative
    top -126px
    width 100%
    right 0
    left 0

.illus1-6
  position: relative;
  top: -69px;
  display block
  +tablet()
    width 100%
  +portrait()
    width 100%
  +mobile()
    width 100%
    top 0
    margin-bottom 70px

.illus1-7
  position absolute
  top -120px
  left 15px
  +tablet()
    left: -32px;
  +portrait()
    width 65vw
  +mobile()
    width calc(100vw - 30px)
    top -20px
  +landscape()
    width 100%

.illus1-8
  position absolute
  top: -289px;
  left 15px
  +portrait()
    top -189px
  +mobile()
    position static



//

.illus2-1
  position relative
  top: -42px;
  left: 40px;
  +portrait()
    left 0

.illus2-2
  position absolute
  left: 15px;
  bottom: -8px;
  +mobile()
    width 100%
    bottom 15px
    z-index 30


//
.ink
  position absolute

.ink-1
  top: 102px;
  right: -297px;

.ink-2
  bottom: 416px;
  left: -84px;
  z-index 10
  +portrait()
    bottom: 156px;
  +mobile()
    max-width 200px

.ink-3
  bottom: -67px;
  right: 146px;
  z-index 10
  +mobile()
    bottom: -67px;
    right: 16px;
    max-width: 100px;

