@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  padding 0
  margin 0
  li
    list-style none

ol
  padding 0
  margin 0

.ul-regular
  li
    position relative
    margin-bottom 24px
    font-weight: 500;
    line-height: 1.5;
    color $white
    &:before
      pseudo(block, absolute)
      border-radius 50%
      width: 12px;
      height: 12px;
      background $green2
      top 6px
      left -42px

.ul-regular.ul-regular-black
  li
    color $black
    &:before
      background $pink